body {
	width: 100%;
    height: 100%;
	background-color: black;
	padding:0px;
	margin:0px;
}

#battleCanvas {
	height:96.8%;
	width:99.5%;
	/*display:none;*/
}

#battleHUD {
	opacity: 0.9;
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:20px;
	height:65px;
	width:60%;
	border: 2px solid white;
}

#innerHUD {
	margin:22px;
	font-family:Verdana,Arial,sans-serif !important;
}


#innerHUD > span {
	margin-right: 25px;
}

#enemyInfo {
	float:right;
}

#toastHolder {
	opacity: .9;
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:80%;
	height:10%;
	width:45%;
	border: 2px solid white;
	font-family:Verdana,Arial,sans-serif !important;
   	display: table;
}

#battleToast {
	display: table-cell;
   	text-align: center;
   	vertical-align: middle;

}

#battleMenu {
	opacity: .9;
	position:absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top:75%;
	height:20%;
	width:35%;
	border: 2px solid white;
}

.battleOption {
	border: solid 1px white;
	height:50%;
	line-height: 400%;
	width:50%;
	margin:-1px;
	text-align: center;
	font-family:Verdana,Arial,sans-serif !important;
	cursor:pointer;
}

#battleOption1, #battleOption3 {
	float:left;
}

#battleOption2, #battleOption4 {
	float:right;
}

.selectedOption {
	text-decoration: underline;
	font-weight: bold;
	/*text-decoration: overline;*/
}

/*button {
	font-family:Verdana,Arial,sans-serif !important;
}*/

div {
	background-color: black;
	color:white;
}

button {
	cursor:pointer;
}

canvas {
	margin:3px;
}

#sprites {
	display:none;
}

#gameDiv {
	border: solid 2px black;
	height:97%;
	width:99.5%;
	padding:0px;
}

.panel {
	border: solid 1px white;
	margin:0px;
	padding:0px;
}

#sideContent {
	border: solid 2px white;
	float:right;
}

#sidePanel {

}

#bottomPanel {

}

#scrollBox {
	overflow-y:scroll;
	height:95%;
	margin:6px;
	font-family:Verdana,Arial,sans-serif !important;
}

#optionsPanel {

}

#statBox {
	overflow-y:auto;
	width:100%;
	height:80%;
	margin-top: 10px;
}

#inventoryBox {
	overflow-y:auto;
	width:100%;
	height:80%;
	margin-top: 10px;
}

#inventoryBox > div {
	height:27px;
	padding:5px;
	border:solid 1px white;
	margin-left: 5px;
	margin-right: 5px;
} 

	.itemViewButton {
		float:right;
		margin-top: 0px;
	}

	.itemEquipButton {
		float:right;
		margin-top: 0px;
	}

	.itemConsumeButton {
		float:right;
		margin-top: 0px;
	}

#equipmentBox {
	overflow-y:auto;
	width:100%;
	height:80%;
	margin-top: 10px;
}

	#equipmentBox > div {
		height:27px;
		padding:5px;
		border:solid 1px white;
		margin-left: 5px;
		margin-right: 5px;
	} 

	.equipmentViewButton {
		float:right;
		margin-top: 0px;
	}

	.equipmentUnequipButton {
		float:right;
		margin-top: 0px;
	}

#questBox {
	overflow-y:auto;
	width:100%;
	height:80%;
	margin-top: 10px;
}

#bottomSpace {
	text-align: center;
	color:gray;
	font-size:12px;
	margin-top: 2px;
}


#optionsPanel > button {
	margin:15px;
}

/*Things in modals*/

#saveDiv {
	margin: 10px;
	width:350px;
}

#saveDiv > div {
	height:40px;
	padding:5px;
} 

.saveModalButton {
	float:right;
	margin-top: 0px;
	width:60px;
}

#loadDiv {
	margin: 10px;
	width:350px;
}

#loadDiv > div {
	height:40px;
	padding:5px;
} 

.loadModalButton {
	float:right;
	margin-top: 0px;
	width:60px;
}




/* TABS */
/* Default color for links inside the tabbed box */ 

#sidePanel { 
    background: transparent; 
    border-radius: 0;
} 
#sidePanel .ui-widget-header { 
    background: transparent; 
    border: none; 
    border-bottom: 1px solid #c0c0c0; 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    border-radius: 0px; 
} 

#sidePanel .ui-widget-content { 
    color:white !important;
} 

#sidePanel .ui-tabs-nav .ui-state-default { 
    background: transparent; 
    border: none; 
} 
#sidePanel .ui-tabs-nav .ui-state-active { 
    border: none; 
} 
#sidePanel .ui-tabs-nav .ui-state-default a { 
    color: #c0c0c0; 
    outline:none;
    font-size:16px;
} 
#sidePanel .ui-tabs-nav .ui-state-active a { 
    color: white; 
    outline:none;
    cursor: pointer !important;

}

.ui-tabs .ui-tabs-panel {
	padding:8px !important;
}