.modalOverlay {
	background-image:url(../img/semi_transparent.png);
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 20;
	opacity: .7;
}

/*input, select, textarea {

	font-size: 18px;
	font-family: 'Raleway', sans-serif;

}*/

.modalSelected{
	position: absolute;
	z-index: 21;
	border:2px solid white;
	display: block;
}

.modal {
	display: none;
}


.closeButton{
	float: right;
	border: 0;
	color: white;
	background: rgba(0, 0, 0, 0);
	font: inherit;
	cursor: pointer;
	vertical-align: center;
	/*margin-top: 15px;*/
	font-size: 20px;
	outline:none;
}

.modalTitle {
	padding: 0px;
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: solid 1px white;	
}

















